<?php
/**
* @author Amasty Team
* @copyright Copyright (c) 2022 Amasty (https://www.amasty.com)
* @package AMP for Magento 2
*/
?>
<?php
/**
 * Currency switcher
 *
 * @var \Amasty\Amp\Block\Page\Html\Header\Currency $block
 */
?>

<?php if ($block->getCurrencyCount() > 1): ?>
    <?php $currencies = $block->getCurrencies(); ?>
    <?php $currentCurrencyCode = $block->getCurrentCurrencyCode(); ?>
    <?php $id = $block->getIdModifier() ? '-' . $block->getIdModifier() : '' ?>
    <section class="amamp-category-item -parent">
        <h4 class="amamp-title">
            <?= $block->escapeHtml(__('Currency')) ?>
        </h4>
        <ul class="amamp-list">
            <?php foreach ($currencies as $code => $name): ?>
                <?php if ($code != $currentCurrencyCode): ?>
                    <li class="amamp-view-<?= $block->escapeHtmlAttr($code) ?> amamp-accordion-sections">
                        <a title="<?= $block->escapeHtml($name) ?>" href="<?= $block->escapeUrl($block->getStoreUrlAmp($code)) ?>">
                            <?= $block->escapeHtml($code) ?> - <?= $block->escapeHtml($name) ?>
                        </a>
                    </li>
                <?php endif; ?>
            <?php endforeach; ?>
        </ul>
    </section>
<?php endif; ?>
