<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2023 Amasty (https://www.amasty.com)
 * @package Image Optimizer UI for Magento 2 (System)
 */
/** @var \Amasty\ImageOptimizer\Block\Adminhtml\Settings\JpegOptimizationExample $block */
?>
<div data-amoptimizer-js="image-example" data-bind="scope: 'jpeg-example'">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>

<script type="text/x-magento-init">
{
    "[data-amoptimizer-js='image-example']": {
        "Magento_Ui/js/core/app": {
            "components": {
                "jpeg-example": {
                    "component": "Amasty_ImageOptimizerUi/js/jpeg-example",
                    "template": "Amasty_ImageOptimizerUi/jpeg-optimization-example",
                    "jpegOptimisationSelector": "amimageoptimizer_opti_jpeg_tool",
                    "images": <?= /* @noEscape */ $block->getImageUrls() ?>
                }
            }
        }
    }
}
</script>
