<?php
/**
* @author Amasty Team
* @copyright Copyright (c) 2022 Amasty (https://www.amasty.com)
* @package AMP for Magento 2
*/
?>
<?php
/* @var $block \Amasty\Amp\Block\Product\Content\View\Options\Type\Select\Dropdown */

$option = $block->getOption();
$required = $option->getIsRequire() ? 'required' : '';
?>

<select id="amamp-select-<?= $block->escapeHtml($option->getOptionId()); ?>"
        class="amamp-select-block -multiple"
        name="options[<?= $block->escapeHtml($option->getOptionId()) ?>]"
        <?= $block->escapeHtml($required) ?>>
    <option value="" selected>
        <?= $block->escapeHtml('-- ' . __('Please Select') . ' --') ?>
    </option>
    <?php foreach ($option->getValues() as $value): ?>
        <?php $priceHtml = $block->formatPrice($value); ?>
        <option class="amamp-select-option" value="<?= $block->escapeHtml($value->getId()) ?>">
            <?= $block->escapeHtml($value->getTitle()) ?> <?= /* @noEscape */ $priceHtml ?>
        </option>
    <?php endforeach; ?>
</select>
