<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_MegaMenu
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
?>
<?php
/**
 * Top menu for store
 *
 * @var $block Bss\MegaMenu\Block\Adminhtml\Category\Content
 */
?>
<?php $storeId = $block->getStoreId() ?>

<div id="m2-component" data-bind="scope:'m2kocomponent'">
    <!-- ko template: getTemplate() --><!-- /ko -->
    <script type="text/x-magento-init">
    {
        "#m2-component": {
            "Magento_Ui/js/core/app": {
               "components": {
                    "m2kocomponent": {
                        "component": "Bss_MegaMenu/js/content",
                        "template" : "Bss_MegaMenu/content",
                        "storeId": "<?= /* @noEscape */ $storeId ?>",
                        "categoryStoreId": "<?= /* @noEscape */ $block->getCategoryStoreId(); ?>",
                        "rootStoreMenu": "<?= /* @noEscape */ $block->getStoreName(); ?>",
                        "staticBlocks": <?= /* @noEscape */ $block->getBlockCollection(); ?>,
                        "categoriesLink": <?= /* @noEscape */ $block->getCategoryCollection(); ?>
                    }
                }
            }
        }
    }
    </script>
</div>
