<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_MegaMenu
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
?>
<?php
/**
 * Top menu for store
 *
 * @var $block Bss\MegaMenu\Block\Adminhtml\Category\Tree
 */
?>

<div class="col-md-3">
    <button id="megamenu_add" class="action-default scalable add" type="button" style="margin-bottom:20px">
        <?= /* @noEscape */ __('Create') ?>
    </button>
    <div id="megamenu_tree"></div>
</div>

<script type="text/x-magento-init">
    {
        "*": {
            "Bss_MegaMenu/js/tree": {
                "urlSave": "<?= /* @noEscape */ $block->getNodeUrl('save'); ?>",
                "menuItemUrlLoad": "<?= /* @noEscape */ $block->getMenuItemUrl('load'); ?>",
                "menuItemUrlSave": "<?= /* @noEscape */ $block->getMenuItemUrl('save'); ?>",
                "menuTree": <?= /* @noEscape */ $block->menuTree(); ?>,
                "getNodeUrlDelete": "<?= /* @noEscape */ $block->getNodeUrl('delete'); ?>",
                "currentStoreId": "<?= /* @noEscape */ $block->getStoreId(); ?>",
                "cateId" : "<?= /* @noEscape */ $block->getCateId(); ?>",
                "messageCache": "<?= /* @noEscape */ $block->getText(); ?>"
            }
        }
    }
</script>
