/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_MegaMenu
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
& when (@media-common = true) {
    #bss_notice {
        color: #4F8A10;
        background-color: #DFF2BF;
        padding: 10px;
        display: none
    }
    .megamenu-loading {
        display:none
    }

    .page-main-actions {
        &._hidden {
            .bss-page-actions {
                position: fixed;
                top: 16px;
                right: 15px;
                z-index: 999;
            }
        }

        .page-actions._fixed {
            padding-right: 150px;
        }
    }
}