<?php
/**
* @author Amasty Team
* @copyright Copyright (c) 2022 Amasty (https://www.amasty.com)
* @package AMP for Magento 2
*/
?>
<?php
/** @var $block \Magento\GoogleAnalytics\Block\Ga */

$accountId = $block->getConfig(\Magento\GoogleAnalytics\Helper\Data::XML_PATH_ACCOUNT);
?>

<amp-analytics type="googleanalytics" id="googleanalytics">
    <script type="application/json">
        {
            "vars": {
              "account": "<?= $block->escapeHtml($accountId); ?>"
            },
            "triggers": {
                "trackPageview": {
                    "on": "visible",
                    "request": "pageview"
                }
            }
        }
    </script>
</amp-analytics>
