<?php
/**
* @author Amasty Team
* @copyright Copyright (c) 2022 Amasty (https://www.amasty.com)
* @package AMP for Magento 2
*/
?>
<?php
/** @var \Magento\Newsletter\Block\Subscribe $block */
?>

<amp-animation id="showTopBtn" layout="nodisplay">
    <script type="application/json">
        {
            "duration": "200ms",
            "fill": "both",
            "iterations": "1",
            "direction": "alternate",
            "animations": [{
                "selector": "#scrollToTopButton",
                "keyframes": [{
                    "opacity": "1",
                    "visibility": "visible"
                }]
            }]
        }
    </script>
</amp-animation>

<amp-animation id="hideTopBtn" layout="nodisplay">
    <script type="application/json">
        {
            "duration": "200ms",
            "fill": "both",
            "iterations": "1",
            "direction": "alternate",
            "animations": [{
                "selector": "#scrollToTopButton",
                "keyframes": [{
                    "opacity": "0",
                    "visibility": "hidden"
                }]
            }]
        }
    </script>
</amp-animation>

<button id="scrollToTopButton"
        class="amamp-top-button"
        title="<?= $block->escapeHtml(__('Go to top of the page')) ?>"
        on="tap:amamp-header-container.scrollTo(duration=200)">
</button>
