<?php
/**
* @author Amasty Team
* @copyright Copyright (c) 2022 Amasty (https://www.amasty.com)
* @package AMP for Magento 2
*/
?>
<?php
/** @var \Magento\Review\Block\Product\Review $block */
?>

<div class="amamp-setreview-block">
    <?php if ($block->isAllowWriteReview()): ?>
        <button class="amamp-button -middle" role="button" on="tap:amamp-setreview-sidebar.toggle" tabindex="0">
            <?= $block->escapeHtml(__('Write a review')) ?>
        </button>
    <?php endif; ?>
    <p class="amamp-text">
        <?= $block->escapeHtml(__('Share your thoughts with other customers')) ?>
    </p>
</div>
<?= $block->getChildHtml() ?>
