<?php
/**
* @author Amasty Team
* @copyright Copyright (c) 2022 Amasty (https://www.amasty.com)
* @package Cookie Consent (GDPR) for Magento 2
*/
?>
<?php
/** @var \Amasty\GdprCookie\Block\CookieBar $block */
/** @var \Magento\Framework\Escaper $escaper */

$confirmationModal = \Amasty\GdprCookie\Model\Config\Source\CookiePolicyBarStyle::CONFIRMATION_MODAL;
?>
<script>
    window.isGdprCookieEnabled = true;
</script>
<?php if ($block->getNoticeType() === $confirmationModal): ?>

    <div data-role="gdpr-cookie-container" class="amgdprcookie-modal-template" data-bind="scope: 'gdpr-cookie-modal'">
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- ko if: $data.elems().length -->
            <!-- ko foreach: $data.elems() -->
                <!--ko template: getTemplate()--><!-- /ko -->
            <!-- /ko -->
        <!-- /ko -->
    </div>
    <div class="amgdprcookie-modal-block" data-amgdpr-js="modal"></div>
    <script type="text/x-magento-init">
    {
        "[data-role=gdpr-cookie-container]": {
            "Magento_Ui/js/core/app": <?= /* @noEscape */ $block->getJsLayoutComponent('modal') ?>
        }
    }
    </script>
<?php else: ?>
    <!-- ko scope: 'gdpr-cookie-container' -->
        <!-- ko template: $data.templates.popup --><!-- /ko -->
    <!-- /ko -->
    <script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": <?= /* @noEscape */ $block->getJsLayoutComponent('classic') ?>
        }
    }
    </script>
    <style>
        .amgdprjs-bar-template {
                z-index: 15;
            <?php if ((int)$block->getBarLocation()): ?>
                top: 0;
            <?php else: ?>
                bottom: 0;
            <?php endif; ?>
        }
    </style>
<?php endif; ?>
<style>
    .amgdprcookie-modal-template,
    .amgdprcookie-bar-container {
    <?php if ((int)$block->getBarLocation() === \Amasty\GdprCookie\Model\Config\Source\CookieBarLocation::DISPLAY_AT_FOOTER): ?>
        bottom: unset;
    <?php endif; ?>
        background-color: <?= $escaper->escapeHtml($block->getBackgroundColor()); ?>;
    }
    .amgdprcookie-modal-template .amgdprcookie-policy,
    .amgdprcookie-bar-container .amgdprcookie-policy {
        color: <?= $escaper->escapeHtml($block->getPolicyTextColor()); ?>;
    }

    .amgdprcookie-modal-template .amgdprcookie-text,
    .amgdprcookie-bar-container .amgdprcookie-text {
        color: <?= $escaper->escapeHtml($block->getDescriptionTextColor()); ?>;
    }

    .amgdprcookie-modal-template .amgdprcookie-header,
    .amgdprcookie-bar-container .amgdprcookie-header {
        color: <?= $escaper->escapeHtml($block->getTitleTextColor()); ?>;
    }

    .amgdprcookie-modal-template .amgdprcookie-link,
    .amgdprcookie-modal-template .amgdprcookie-policy a,
    .amgdprcookie-bar-container .amgdprcookie-policy a {
        color: <?= $escaper->escapeHtml($block->getLinksColor()); ?>;
    }

    .amgdprcookie-modal-template .amgdprcookie-button.-allow.-save,
    .amgdprcookie-bar-container .amgdprcookie-button.-allow {
        background-color: <?= $escaper->escapeHtml($block->getAcceptButtonColor()) ?>;
        border-color: <?= $escaper->escapeHtml($block->getAcceptButtonColor()) ?>;
        color: <?= $escaper->escapeHtml($block->getAcceptTextColor()) ?>;
    }

    .amgdprcookie-modal-template .amgdprcookie-button.-allow.-save:hover,
    .amgdprcookie-bar-container .amgdprcookie-button.-allow:hover {
        background-color: <?= $escaper->escapeHtml($block->getAcceptButtonColorHover()) ?>;
        border-color: <?= $escaper->escapeHtml($block->getAcceptButtonColorHover()) ?>;
        color: <?= $escaper->escapeHtml($block->getAcceptTextColorHover()) ?>;
    }

    .amgdprcookie-modal-template .amgdprcookie-button.-allow.-settings,
    .amgdprcookie-bar-container .amgdprcookie-button.-settings {
        background-color: <?= $escaper->escapeHtml($block->getSettingsButtonColor()) ?>;
        border-color: <?= $escaper->escapeHtml($block->getSettingsButtonColor()) ?>;
        color: <?= $escaper->escapeHtml($block->getSettingsTextColor()) ?>;
    }

    .amgdprcookie-modal-template .amgdprcookie-button.-allow.-settings:hover,
    .amgdprcookie-bar-container .amgdprcookie-button.-settings:hover {
        background-color: <?= $escaper->escapeHtml($block->getSettingsButtonColorHover()) ?>;
        border-color: <?= $escaper->escapeHtml($block->getSettingsButtonColorHover()) ?>;
        color: <?= $escaper->escapeHtml($block->getSettingsTextColorHover()) ?>;
    }

    .amgdprcookie-modal-template .amgdprcookie-button.-decline,
    .amgdprcookie-bar-container .amgdprcookie-button.-decline {
        background-color: <?= $escaper->escapeHtml($block->getDeclineButtonColor()) ?>;
        border-color: <?= $escaper->escapeHtml($block->getDeclineButtonColor()) ?>;
        color: <?= $escaper->escapeHtml($block->getDeclineTextColor()) ?>;
    }

    .amgdprcookie-modal-template .amgdprcookie-button.-decline:hover,
    .amgdprcookie-bar-container .amgdprcookie-button.-decline:hover {
        background-color: <?= $escaper->escapeHtml($block->getDeclineButtonColorHover()) ?>;
        border-color: <?= $escaper->escapeHtml($block->getDeclineButtonColorHover()) ?>;
        color: <?= $escaper->escapeHtml($block->getDeclineTextColorHover()) ?>;
    }

    .amgdprcookie-button.-allow {
        order: <?= $escaper->escapeHtml($block->getAcceptButtonOrder()) ?>;
    }

    .amgdprcookie-button.-decline {
        order: <?= $escaper->escapeHtml($block->getDeclineButtonOrder()) ?>;
    }

    .amgdprcookie-button.-settings {
        order: <?= $escaper->escapeHtml($block->getSettingsButtonOrder()) ?>;
    }
</style>
<?= /* @noEscape */ $block->getChildBlocksHtml(); ?>
