<?php
/**
* @author Amasty Team
* @copyright Copyright (c) 2022 Amasty (https://www.amasty.com)
* @package AMP for Magento 2
*/
?>
<?php
/*
 * @var $block \Amasty\Amp\Block\Cms\Widget\ProductsList
 *
 * Amp product list widget template type "Slider"
 */

$collection = $block->getProductCollection();
?>

<?php if ($collection->getSize()): ?>
<div class="amamp-products-widget slider-view grid-view">
    <strong class="amamp-title">
        <?= $block->escapeHtml(__($block->getTitle())); ?>
    </strong>
    <amp-carousel class="amamp-product-list"
                  height="278"
                  layout="fixed-height"
                  type="carousel">
            <?php foreach ($collection as $item): ?>
                <?php
                    $isSaleable = !$item->isComposite() && $item->isSaleable() && !$item->getRequiredOptions();
                    $priceHtml = $block->getProductPrice($item);
                ?>
                <div class="amamp-product-item">
                    <a class="amamp-link"
                       aria-label="<?= $block->escapeHtml($item->getName()); ?>"
                       href="<?= $block->escapeUrl($block->getAmpProductUrl($item)); ?>">
                        <?= /* @noEscape */ $block->getImage($item, 'new_products_content_widget_grid')->toHtml(); ?>
                    </a>
                    <div class="amamp-details-block">
                    <span class="amamp-name">
                        <?= $block->escapeHtml($item->getName()); ?>
                    </span>
                        <div class="amamp-price-block">
                            <?= /** @noEscape */ $priceHtml ?>
                            <a class="amamp-button -small"
                               aria-label="<?= $block->escapeHtml($item->getName()); ?>"
                               href="<?= $block->escapeUrl($block->getAmpProductUrl($item)); ?>">
                                <?= $block->escapeHtml(__('See Details')); ?>
                            </a>
                        </div>
                    </div>
                </div>
            <?php endforeach ?>
    </amp-carousel>
</div>
<?php endif;?>
